* {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}


.flex-container {
  display: flex;
  background-color: pink;
  border-radius: 10px;
  flex-direction: row;
  column-gap: 25px;
  width: 100%;
}

.container {
  display: grid;
  grid-template-areas:
    "content weather"
    "footer sidebar";
  grid-template-columns: 1fr 3fr;
  row-gap: 10px;
  column-gap: 10px;
}

.featured-article {
  grid-area: content;
}

.other-articles {
  grid-area: sidebar;
}

.weather {
 grid-area: weather;
 height:fit-content;
 width: fit-content;
 background-color: pink;
 border-radius: 10px;
 padding: 10px;
 margin: 10px;
 box-shadow: #333;
}

img {
  width: 500px
}

@font-face {
  font-family: "fontName";
  src: url(LibertinusKeyboard-Regular.ttf);
}

header {
  font-family: "fontName";
  color: blue;
}

body {
  background-color: lightgoldenrodyellow;
  color: #333;
  width: 100%;
}

a:hover {
  background: #334155;
  color: #fff;
  transition: .5s;
}